body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 45vw;
  margin: 1rem;
  box-shadow: 5px 5px 20px gray;
  border-radius: 10px;
}
