body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 45vw;
  margin: 1rem;
  box-shadow: 5px 5px 20px gray;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-play {
  background: url("./img/icons8-play-64.png") no-repeat center center/cover;
}

.btn-pause {
  background: url("./img/icons8-pause-64.png") no-repeat center center/cover;
}

.btn {
  cursor: pointer;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid transparent;
}

.btn:hover {
  margin: 0.5rem;
  width: 5.5rem;
  height: 5.5rem;
}
